th{
  text-align: left;
}

.main{
  width: 100vw;
}

.middle{
  margin: 0 auto;
}

.text-middle{
  text-align: center;
}

.flex-middle{
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}