.middle{
    display: block;
    /* width: 30vw;  this part accidentaly ruined the form in the animal insert page*/
    margin: auto;
    padding-top: 1vh;
}

.middle input{
    width: 100%;
    height: 40px;
    border-radius: 16px;
    font-size: large;
}