th{
  text-align: left;
}

.main{
  width: 100vw;
}

.middle{
  margin: 0 auto;
}

.text-middle{
  text-align: center;
}

.blue{
  background-color: blue;
}

.flex-middle{
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insert-div{
  display: flex;
  flex-direction: column;
}
.insert-div > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px
}
.insert-div > div > label{
  display: flex;
  align-items: center;
  min-width: 15vw;
}
#insert-form{
  min-width: 30vw;
}
@media screen and (min-width: 500px) {
  #insert-form{
	  max-width: 50vw;
  }
}
